PORT=3000
NODE_ENV=development

DATABASE_URL="mysql://root:your_password@localhost:3306/url_shortener"
SHARD_0_DATABASE_URL="mysql://root:YourPassword@localhost:3307/shard_0"
SHARD_1_DATABASE_URL="mysql://root:YourPassword@localhost:3308/shard_1"

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=YOUR_PASSWORD
DATABASE_NAME=url_shortener

SHARD_0_DATABASE_HOST=localhost
SHARD_0_DATABASE_PORT=3307
SHARD_0_DATABASE_USER=root
SHARD_0_DATABASE_PASSWORD=YOUR_PASSWORD
SHARD_0_DATABASE_NAME=shard_0

SHARD_1_DATABASE_HOST=localhost
SHARD_1_DATABASE_PORT=3308
SHARD_1_DATABASE_USER=root
SHARD_1_DATABASE_PASSWORD=YOUR_PASSWORD
SHARD_1_DATABASE_NAME=shard_1

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN_SECONDS=900

REDIS_URL=redis://localhost:6379

RABBITMQ_URL=amqp://localhost:5672

MONGODB_URL=mongodb+srv://username:password@cluster0.adfspqy.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=url_shortener_analytics    