PORT=3000
NODE_ENV=development

DATABASE_URL="mysql://root:your_password@localhost:3306/url_shortener"

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=YOUR_PASSWORD
DATABASE_NAME=url_shortener